# ========================================
# Git / Version control
# ========================================
**/.git
**/.gitignore

# ========================================
# IDEs Settings / Tools
# ========================================
**/.project
**/.settings
**/.vs
**/.vscode
**/.idea
**/.toolstarget
**/*.*proj.user
**/*.jfm

# ========================================
# Build files / Compilation
# ========================================
**/bin
**/obj

# ========================================
# Node / Frontend
# ========================================
**/node_modules
**/npm-debug.log

# ========================================
# Docker / Kubernetes
# ========================================
**/docker-compose*
**/Dockerfile*
**/azds.yaml
**/charts
**/secrets.dev.yaml
**/values.dev.yaml

# ========================================
# Configuration files / Environment
# ========================================
**/.dockerignore
**/.env

# ========================================
# Database / Others
# ========================================
**/*.dbmdl

# ========================================
# Documentation / License
# ========================================
LICENSE
README.md
